.disponible {
  border: 2px solid green;
  padding: 10px;
}

h2 {
  font-size: 1.4rem;
  color: #2c3e50;
}

img {
  display: block;
  margin: 10px 0;
  border-radius: 8px;
}

p {
  font-size: 1.1rem;
  margin: 5px 0;
  color: #333;
}

div {
  font-weight: bold;
  text-align: center;
}

button {
  padding: 8px 14px;
  margin-right: 8px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: #2980b9;
}
