.home-container {
  text-align: center;
  margin-top: 50px;
}

.home-container h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #3498db;
}

.home-container button {
  padding: 12px 25px;
  font-size: 1.2rem;
  border-radius: 8px;
  border: none;
  background-color: #2ecc71;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.home-container button:hover {
  background-color: #27ae60;
}
