h3 {
  color: #2c3e50;
  font-size: 1.5rem;
  margin-bottom: 12px;
}

div {
  margin-bottom: 10px;
}

p {
  font-size: 1.1rem;
  font-weight: bold;
}

button {
  padding: 6px 12px;
  background: #8e44ad;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #732d91;
}
